[package]
name = "hackernews_tui"
version = "0.7.0"
authors = ["Thang Pham <phamducthang1234@gmail.com>"]
edition = "2018"
license = "MIT"
description = "A Terminal UI to browse Hacker News"
repository = "https://github.com/aome510/hackernews-TUI"
keywords = ["hackernews", "tui"]
readme = "../README.md"
include = ["src/**/*", "LICENSE", "../README.*", "!**/examples/**/*"]

[dependencies]
cursive = { version = "0.16.3", default-features = false, features = ["crossterm-backend"] }
cursive-async-view = "0.5.0"
cursive_buffered_backend = "0.5.0"
cursive-aligned-view = "0.4.0"

ureq = { version = "2.1.1", features = ["json"] }
serde = { version = "1.0.126", features = ["derive"] }
serde_json = "1.0.64"
anyhow = "1.0.40"
rayon = "1.5.1"
log = "0.4.14"
env_logger = "0.8.3"
htmlescape = "0.3.1"
regex = "1.5.4"
substring = "1.4.5"
once_cell = "1.7.2"
toml = "0.5.8"
clap = "2.33.3"
dirs-next = "2.0.0"
url = "2.2.2"

config_parser2 = { version = "0.1.1", path = "../config_parser" }
