[package]
name = "hackernews_tui"
version = "0.8.1"
authors = ["Thang Pham <phamducthang1234@gmail.com>"]
edition = "2018"
license = "MIT"
description = "A Terminal UI to browse Hacker News"
repository = "https://github.com/aome510/hackernews-TUI"
keywords = ["hackernews", "tui"]
readme = "../README.md"
include = ["src/**/*", "LICENSE", "../README.*", "!**/examples/**/*"]

[dependencies]
cursive = { version = "0.16.3", default-features = false, features = ["crossterm-backend"] }
cursive-async-view = "0.5.0"
cursive_buffered_backend = "0.5.0"
cursive-aligned-view = "0.5.0"

ureq = { version = "2.3.1", features = ["json"] }
serde = { version = "1.0.132", features = ["derive"] }
serde_json = "1.0.73"
anyhow = "1.0.51"
rayon = "1.5.1"
tracing = "0.1.29"
tracing-subscriber = { version = "0.3.3", features = ["env-filter"] }
log = "0.4.14"
regex = "1.5.4"
substring = "1.4.5"
once_cell = "1.9.0"
toml = "0.5.8"
clap = "2.34.0"
dirs-next = "2.0.0"
url = "2.2.2"
config_parser2 = { version = "0.1.2", path = "../config_parser" }
crossbeam-channel = "0.5.1"
lazy_static = "1.4.0"
unicode-width = "0.1.9"
html-escape = "0.2.9"
html5ever = "0.25.1"
markup5ever_rcdom = "0.1.0"
comfy-table = "4.1.1"
